body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  font-family: "Rubik Medium", monospace;
}

.topbar {
  background-color: #f34949;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  

}

.list-display {
  margin: 10px;
}

.topbar:hover {
  background-color: black;
}
.topbar__logo {
  margin-left: 15px;
  font-size: 27px;
  font-weight: bold;
}
.topbar__logo :hover {
  background-color: rgb(213, 213, 213);
}
.topbar__buttons {
  display: flex;
  gap: 10px;
}
.topbar__button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.topbar__button:hover {
  background-color: #f34949;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.open-links {
  color: white;
  text-decoration: none;
}

.open-links:hover {
  color: #f34949;
  background-color: #000000;
}

.home__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
}

.user-card {
  background-color: #ffe7e74d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: calc(50% - 10px);
  max-width: 500px;
  margin: 15px;
}

.card {
  background-color: #ffe7e74d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  width: calc(50% - 10px);
  max-width: 500px;
}

.card:hover {
  transform: translateY(-5px);
}

.card__title {
  font-size: 24px;
  margin-bottom: 3px;
}

.card__description {
  margin-bottom: 30px;
}

.card__button {
  background-color: #f34949;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.card__button:hover {
  background-color: #000000;
}

.input {
  padding: 6px;
  font-size: 17px;
  border: none;
  padding-right: 4px;
  margin: 10px;
  align-items: left;
}

.search {
  display: block;
  width: 100%;
  padding: 10px;
  background: #f34949;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search:hover{
  background: black;
}

form {
  max-width: 400px;
  margin: 50px auto 0;
  padding: 20px;
  background: #ffe7e74d;
  border-radius: 8px;
  
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: black;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #f34949;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 3px;
}

.prev:disabled,
.next:disabled {
  opacity: 0.5;
  cursor: default;
}

.prev:hover,
.next:hover {
  background-color: #000000;
}

@media (max-width: 480px) {
  .pagination {
    flex-direction: column;
  }
  
  button {
    margin: 10px 0;
  }
}
