body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  font-family: "Rubik Medium", monospace;
}

.topbar {
  background-color: #f34949;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  

}
.topbar:hover {
  background-color: black;
}
.topbar__logo {
  margin-left: 15px;
  font-size: 27px;
  font-weight: bold;
}
.topbar__logo :hover {
  background-color: rgb(213, 213, 213);
}
.topbar__buttons {
  display: flex;
  gap: 10px;
}
.topbar__button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.topbar__button:hover {
  background-color: rgb(213, 213, 213);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}


.home__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
}

.card {
  background-color: #ffe7e74d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  width: calc(50% - 10px);
  max-width: 500px;
}

.card:hover {
  transform: translateY(-5px);
}

.card__title {
  font-size: 24px;
  margin-bottom: 3px;
}

.card__description {
  margin-bottom: 30px;
}

.card__button {
  background-color: #f34949;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.card__button:hover {
  background-color: #000000;
}